@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html,
body,
#root {
  height: 100vh;
}
.root-layout {
  height: 100%;
}

header a {
  text-decoration: none;
  font-size: 12px;
}

main {
  height: 100%;
}

.hide {
  display: none;
}
