@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html,
body,
#root {
  height: 100vh;
}
.root-layout {
  height: 100%;
}

header a {
  text-decoration: none;
  font-size: 12px;
}

main {
  height: 100%;
  overflow: hidden;
}

.hide {
  display: none;
}

@utility border-light {
  @apply rounded border-[0.5px] border-blue-200 dark:border-blue-950;
}

@utility theme {
  @apply dark:bg-black dark:text-white bg-white text-black;
}

@utility input-custom {
  @apply px-3 py-1 placeholder:text-[12px] placeholder:text-gray-600;
}

input:focus,
textarea:focus {
  outline: none;
}
